body{
    color:black
}
div {
color:white;
}
body {
    background-image: 30px;
  }
  
  
    body 
      {
        background-image: url('45 Beautiful Modern Chandelier Lights That Create Glamorous Interiors.jpg');
      }
      
     
        body {
          background-image: url('45 Beautiful Modern Chandelier Lights That Create Glamorous Interiors.jpg');
      }
      a{
        color: whitesmoke
      }
      header {
        background-color: #666;
        padding: 15px;
        text-align: center;
        font-size: 20px;
        color: white;
      }
      footer {
        background-color: #777;
        padding: 10px;
        text-align: center;
        color: white;
      }
      
     img{
      width: 333px;
      border: 20px;
     }

     p{
      color: black;
     }
      